.auth {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 60px;
  color: rgb(230, 45, 31);
  margin-bottom: 110px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  border-radius: 30px;
  height: 70px;
  background-color: rgb(210, 11, 38);
  font-size: 25px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: absolute;
  left: 100px;
}

.button:hover {
  background-color: rgb(149, 14, 5);
}

.span {
  width: 680px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.buttonAuth {
  font-size: 20px;
  color: rgb(230, 45, 31);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.buttonAuth:hover {
  color: rgb(149, 14, 5);
}
